# Env
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build
dist/
dist-ssr/
build/

# PWA autogenerado
dev-dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Testing
coverage/

# Supabase CLI
supabase/.temp/